<div id = "header">
<h1>kevins-kustom-links<h1>

<a href = "https://github.com/kevin578/url-shortener" target = "_blank"><img src = '/img/cat.png'></a>
</div>
<div id = 'main-container'>

<form method = "post" action = "/shortenURL">




<label>Link to shorten:</label>

<input type = 'text' name = "urlInput"><br>

<label>Whatd'ya wanna call it:</label>

<span>kevins-custom-links.herokuapp.com/</span>
<input id = "newURL" type = 'text' name = "newURL">

<input type = 'submit' value = 'Shorten!'>


</form>

{{#if oldLink}}

<p>Your can get to <a target = "_blank" href = {{oldLink}} >{{oldLink}}</a> by visting <a target = "_blank" href = {{newLink}}>kevins-custom-links.herokuapp.com/{{newLink}}</a>.</p>

{{else if usedLink}}

<p>kevins-custom-links.herokuapp.com/{{usedLink}} is already being used. Please try a different link.<p>

{{else if invalidLink}}

<p>{{invalidLink}} is not a valid URL.</p>
{{/if}}

</div>
